* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: #c66c6c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

b {
    color: #252525;
}

p {
    margin-top: 8px;
}

.info-container::-webkit-scrollbar {
    width: 4px;
}

.info-container::-webkit-scrollbar-track {
    background: #ffffff;
}

.info-container::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 12px;
}

.title {
    font-size: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 8px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    user-select: none;
    margin: 16px 0 8px 0;
}

.calc-container {
    display: flex;
    align-items: center;
}

.calculator {
    width: 350px;
    height: 430px;
    background-color: #ffffff;
    border-radius: 24px;
    margin: 50px;
    padding: 20px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.calc-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    position: relative;
}

.calc-title::before {
    content: "";
    width: 74px;
    height: 2px;
    border-radius: 50px;
    background-color: #252525;
    position: absolute;
    left: 120px;
    top: 26px;
}

.input-container {
    margin: 16px 0 16px 0;
}

.text-input {
    color: #252525;
    margin-top: 50px;
}

.calc-input {
    color: #252525;
    width: 220px;
    margin-top: 8px;
    padding: 8px 8px 8px 12px;
    border-radius: 8px;
    border: 2px solid #dddddd;
    background-color: #dddddd;
    transition: .4s;
}

.calc-input:focus {
    outline: none;
}

.calc-btn {
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #252525;
    color: #ffffff;
    background-color: #252525;
    transition: .4s;
    user-select: none;
}

.calc-btn:hover {
    color: #252525;
    background-color: #ffffff;
}

.result {
    width: 600px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 24px;
    margin: 50px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.result-title-container {
    height: 40px;
}

.result-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
    position: relative;
    text-align: center;
}

.result-title::before {
    content: "";
    width: 74px;
    height: 2px;
    border-radius: 50px;
    background-color: #252525;
    position: absolute;
    left: 240px;
    top: 26px;
}

.info-container {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding: 0 8px 8px 8px;
    margin-top: -4px;
}

.topic-title {
    color: #252525;
    margin-top: 12px;
}

.negative-text {
    color: #fa1b1b;
}

.positive-text {
    color: #25b251;
}

#infoPre,
#infoPos,
#infoArmazenamento {
    margin-top: 16px;
}